# this file lists packages that are required to build the EnMAP-Box documentation AND can be installed with pip
# see https://pip.pypa.io/en/stable/reference/requirements-file-format/

###### Requirements to build the documentation with sphinx ######
sphinx
sphinxnotes-strike
sphinxcontrib-youtube
docutils
sphinx_rtd_theme > 1
sphinx-copybutton
myst_parser
urlchecker
doc8